@import "helpers/variables";
@import "helpers/reset";
@import "helpers/mixins";

@import "base/typography";

@import "layout/structuer";
@import "layout/header";
@import "layout/footer";

@import "components/product-item";
@import "components/product-size";
@import "components/color-select";
@import "components/filter";
@import "components/pagination";
@import "components/page-change";
@import "components/rating";
@import "components/price";
@import "components/infoDerailProduct";
@import "components/button";
@import "components/social-media";
@import "components/tablist";
@import "components/newsCategory";
@import "components/blog-tag";
@import "components/comment";
@import "components/input";

@import "includes/includes";

@import "pages/homePage";
@import "pages/news";
@import "pages/listProduct";
@import "pages/detailProduct";
@import "pages/cart";
@import "pages/register";
@import "pages/login";
@import "pages/contact";
