mixin button(url, name)
    .item-control
        a.btn.item-buy.mr-3(href= url)= name
        a.btn.item-more.rounded-circle.mr-3(href="#") 
            i.fas.fa-search
        a.btn.item-more.rounded-circle.mr-3(href="#") 
            i.fas.fa-heart
mixin btnControl(name)
    each item in name
        a(href="#").btn-control= item
