.tag-item {
    @include text($font-size-m, $text-black);
    display: inline-block;
    margin: 10px 10px 10px 0;
    border: 1px solid $border-black-fading;
    max-width: 50%;
    padding: 10px;
    &:hover {
        border-color: $bg-color-main;
        color: $text-white;
        background: $bg-color-main;
    }
}
.active-tags {
    border-color: $bg-color-main;
    color: $text-white;
    background: $bg-color-main;
}
