.featured-product {
    margin-top: 60px;
}

.buys-product {
    margin-top: 60px;

    @include responsive(tablet) {
        height: 83vh;
    }

    @include responsive(laptop) {
        height: 110vh;
    }
}

.promotion-product {
    @include responsive(mobile) {
        margin-top: 60px;
    }
}

.banner-product {
    margin-top: 60px;
}

.new-product {
    margin-top: 60px;
    .product-normal {
        .product__list--normal {
            @include d-grid(repeat(4, 1fr), 52% 52%, 30px);

            @include responsive(mobile) {
                @include d-grid(1fr, 100%, 0);
            }
        }
    }
}
