a {
    text-decoration: none !important;
}

img {
    display: block;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    border: none;
    outline: none;
}

button {
    border: none;
    text-decoration: none;
    outline: none !important;
}

h2 {
    margin: 0 !important;
}

ul {
    list-style: none !important;
    padding-left: 0px !important;
    margin-bottom: 0px !important;
}
