$main-color: #3fb871;
$main-color-fading: #59b586;
$wrapper: 1920px;
$container: 1140px;

$text-main: #555555;
$text-main-fading: #898989;
$text-silver: #7d7d7d;
$text-silver-fading: #c2c2c2;
$text-black: #202020;
$text-white: #fff;
$text-white-fading: #b7b7b7;
$text-red: #ed1c24;
$text-yellow: #febf01;
$text-news-date: #959595;
$text-news-title: #636363;

$bg-color-main: #3fb871;
$bg-black: #313131;
$bg-black-fading: #434343;
$bg-silver: #898989;
$bg-white: #fff;
$bg-main-hover-nav: #36a66d;
$bg-main-hover-item: #3fb771;
$bg-red-discount: #d64146;
$bg-black-overlay: rgba(0, 0, 0, 0.197);
$bg-color-hover: rgba(0, 0, 0, 0.6);
$bg-popup: #f1eeeb;

$border-color: #2b2b2b;
$border-color-fading: #ebebeb;
$border-black-fading: #494949;
$border-product: #e1e1e1;
$border-white: #fff;

$font-size-xs: 6px;
$font-size-s: 10px;
$font-size-m: 12px;
$font-size-l: 14px;
$font-size-xl: 16px;
$font-size-2xl: 18px;
$font-size-3xl: 20px;
$font-size-4xl: 22px;
$font-size-5xl: 30px;
