include ../components/news
include ../components/products
include ../components/sideBar
include ../components/filter
include ../components/pagination
include ../components/page-change
include ../components/carousel
include ../components/infoDerailProduct
include ../components/rating
include ../components/price
include ../components/button
include ../components/social-media
include ../components/tablist
include ../components/comment
include ../components/input
