.header {
    &-notify {
        width: 100%;
        height: 32px;
        background-color: #202020;
        position: relative;
        @include responsive(mobile) {
            display: none;
        }
        &__clock {
            @include text($font-size-m, $text-main-fading);
            line-height: 32px;
        }
        &__media {
            @include text($font-size-m, $text-main-fading);
            text-align: center;
            display: inline-block;
            width: 34px;
            line-height: 31px;
            border-left: 1px solid $border-color;
            &:last-child {
                border-right: 1px solid $border-color;
            }
            i {
                color: $bg-silver;
                &:hover {
                    color: $text-white;
                }
            }
        }
        &__time {
            @include text($font-size-m, $text-main-fading);
            margin: 0 32px 0 7px;
        }
        &__author {
            @include text($font-size-m, $text-main-fading);
            text-align: center;
            display: inline-block;
            width: 100px;
            line-height: 32px;
            border-left: 1px solid $border-color;
            &:last-child {
                border-right: 1px solid $border-color;
            }
            &:hover {
                color: $text-white;
            }
            i {
                margin-right: 5px;
            }
        }
    }
    &-main {
        background-image: url(../../images/bg-header.jpg);
        margin: 0 auto;
        width: 100%;
        height: 100%;
        &__logo {
            display: inline-block;
            img {
                object-fit: contain;
                height: 100%;
            }
        }
        .icon-phone {
            @include text($font-size-m, $text-silver);
            padding-left: 27px;
            margin-right: 5px;
        }
        &__phone {
            @include text($font-size-l, $text-silver);
            font-weight: 300;
        }
        &__input {
            width: 100%;
            height: 42px;
            border-radius: 21px;
            background: $bg-white;
            overflow: hidden;
            padding-left: 17px;
            margin-top: 12px;
            @include d-flex(space-around, center, none);
            input {
                @include text($font-size-l, $text-silver-fading);
                height: 34px;
                width: 80%;
                font-weight: 300;
                background: $bg-white;
            }
            .search-icon {
                width: 34px;
                height: 34px;
                line-height: 34px;
                display: inline-block;
                text-align: center;
                border-left: 1px solid $border-color-fading;
                @include text($font-size-l, $text-main-fading);
            }
        }
        .header-cart {
            margin-top: 30px;
            &__icon {
                @include text($font-size-3xl, $text-black);
            }
            &__quantity {
                @include text($font-size-l, $text-black);
                margin: 0 12px;
            }
        }
    }
    &-nav {
        background: $bg-color-main;
        height: 50px;
        @include responsive(mobile) {
            height: 45px;
        }
        &__icon {
            margin-right: 40px;
            @include text($font-size-3xl, $text-white);
            @include responsive(mobile) {
                margin-right: 10px;
                @include text($font-size-l, $text-white);
                &:last-child {
                    margin-right: 0px;
                }
            }
            &:hover {
                color: $text-white;
            }
        }

        .navbar-nav {
            .nav-item {
                text-align: center;
                line-height: 50px;
                padding: 0 20px;
                &:hover {
                    background: $bg-main-hover-nav;
                }
                .nav-link {
                    @include text($font-size-l, $text-white);
                    padding: 0;
                    display: inline-block;
                    &:hover {
                        color: $text-white;
                    }
                    i {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    &-slide {
        .carousel-item {
            img {
                @include responsive(mobile) {
                    height: 228px;
                    object-fit: cover;
                }
            }
        }
    }
}
