section.contact
    .container
        .row 
            .col-12
                +pageChange("Liên hệ", "contactPage.html")
    section.contact-map.mt-5
        iframe.w-100(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30672.61965202887!2d108.21858183955077!3d16.061469900000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219b4816b3f09%3A0xde05beb5444ef2d1!2sMy%20Green%20Coffee!5e0!3m2!1sen!2s!4v1633505211755!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy")
    .contact-info
        .container    
            .row
                .col-12.col-lg-6.mt-5
                    section.contact-info__left.mr-5
                        h5.contact-info__title= titleContact
                        .row.mt-5
                            +input(true, true, inputContact, textarea)
                .col-12.col-lg-6.mt-5
                    section.contact-info__right
                        img(src="../../images/logo-footer.png", alt="logo").mb-5
                        p.info__desc.mb-5 DKT được thành lập với niềm đam mê và khát vọng thành công trong lĩnh vực Thương mại điện tử.Chúng tôi đã và đang khẳng định được vị trí hàng đầu bằng những sản phẩm
                        each item in footerMidIcon
                            a(href="tel:`#{item.title}`").footer-mid__media
                                i(class= item.icon) 
                                span= item.title
